<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Commute_companion_app">

        <activity
            android:name=".LoadingActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />

        <activity
            android:name=".AccountEntryActivity"
            android:exported="false" />

        <activity
            android:name=".LanguageSelectionActivity"
            android:exported="false" />

        <activity
            android:name=".CreateAccountActivity"
            android:exported="false" />

        <activity
            android:name=".SignInActivity"
            android:exported="false" />

        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />

        <activity
            android:name=".NotificationPermissionActivity"
            android:exported="false" />

        <activity
            android:name=".LocationAccessActivity"
            android:exported="false" />

        <activity
            android:name=".BiometricActivity"
            android:exported="false" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <activity
            android:name=".LiveDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".OfflineDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".AlertsActivity"
            android:exported="false" />

        <activity
            android:name=".SetLocationActivity"
            android:exported="false" />

        <activity
            android:name=".SetRouteActivity"
            android:exported="false" />

    </application>

</manifest>